table { 
    border-collapse: separate; 
    border-spacing: 0 10px; 
    margin-top: -10px; /* correct offset on first border spacing if desired */
}
th {
    background-color: #FAFAF9;
    text-transform: uppercase;
    padding: 5px 5px 5px 10px;
    border-bottom: 2px solid #dfdfdf;
  }
  td {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    border: 1px solid #E9E9E9;
    border-style: solid none;
  }
  td:first-child {
    border-left-style: solid;
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px;
}

td:last-child {
    border-right-style: solid;
    border-bottom-right-radius: 5px; 
    border-top-right-radius: 5px; 
}
  /* tr {
    border: 1px solid #E9E9E9;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  } */
.shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
h1 {
    font-size: large;
    color: #175169;
    font-weight: bold;
}
p {
    font-size: 15px;
}